parameters:
	ignoreErrors:
		-
			message: '#^Relation ''user'' is not found in App\\Models\\Transaction model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Call to static method convertToRupiah\(\) on an unknown class App\\Http\\Controllers\\Helpers\.$#'
			identifier: class.notFound
			count: 1
			path: app/Http/Controllers/PaymentController.php

		-
			message: '#^Access to an undefined property App\\Models\\Image\:\:\$room\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Image.php

		-
			message: '#^Access to an undefined property App\\Models\\Room\:\:\$image\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/Room.php

		-
			message: '#^Access to an undefined property App\\Models\\Transaction\:\:\$payment\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Transaction.php

		-
			message: '#^Access to an undefined property App\\Models\\Transaction\:\:\$room\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/Transaction.php

		-
			message: '#^Relation ''user'' is not found in App\\Models\\Customer model\.$#'
			identifier: larastan.relationExistence
			count: 2
			path: app/Repositories/Implementation/CustomerRepository.php

		-
			message: '#^Relation ''type'' is not found in App\\Models\\Room model\.$#'
			identifier: larastan.relationExistence
			count: 2
			path: app/Repositories/Implementation/ReservationRepository.php

		-
			message: '#^Called ''count'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: app/Repositories/Implementation/RoomRepository.php

		-
			message: '#^Relation ''type'' is not found in App\\Models\\Room model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Repositories/Implementation/RoomRepository.php

		-
			message: '#^Called ''count'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: app/Repositories/Implementation/RoomStatusRepository.php

		-
			message: '#^Relation ''user'' is not found in App\\Models\\Transaction model\.$#'
			identifier: larastan.relationExistence
			count: 2
			path: app/Repositories/Implementation/TransactionRepository.php

		-
			message: '#^Called ''count'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: app/Repositories/Implementation/TypeRepository.php

		-
			message: '#^Variable \$models in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: app/Repositories/Implementation/TypeRepository.php
